{% extends '::base.html.twig' %}

{% block pageTypeClass %}page-product{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="container">
            <div class="intro-block {{ record.class }}">
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            {{ record.title1 }}
                        </h3>
                        <p>
                            {{ record.intro1|raw }}
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h3>
                            {{ record.title2 }}
                        </h3>
                        <p>
                            {{ record.intro2|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-menu">
        <div class="container">
            <div class="sub-menu-title {{ record.class }}">
                <i class="fa fa-list"></i>
                <span class="sub-title">Informatie</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <ul class="list-unstyled sub-menu {{ record.class }}">
                    {% for info in record.getProductInfo() %}
                    <li class="col-md-6">
                        <a href="#{{ info.node.alias.alias }}" class="js-show-page">
                            Folders en brochures
                        </a>
                    </li>
                    {% endfor %}
                </ul>
        </div>
        </div>
    </div>

    <div class="content-mid">
        <div class="container">
            <div class="">

            </div>
        </div>
    </div>


{% endblock %}
