{% extends '::base.html.twig' %}

{% block pageTypeClass %}page-product{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="container">
            <div class="intro-block {{ record.class }}">
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            {% if record.title1 %}
                            {{ record.title1 }}
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </h3>
                        {% if record.intro1 %}
                            {{ record.intro1|raw }}
                        {% endif %}
                    </div>

                    <div class="col-md-6">
                        <h3>
                            {% if record.title1 %}
                            {{ record.title2 }}
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </h3>
                        {% if record.intro2 %}
                            {{ record.intro2|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-menu">
        <div class="container">
            <div class="sub-menu-title {{ record.class }}">
                <i class="fa fa-list"></i>
                <span class="sub-title">Informatie</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <ul class="list-unstyled sub-menu {{ record.class }}">
                    {% for info in record.getProductInfos() %}
                    <li class="col-md-6">
                        <a href="#{{ info.node.alias.alias }}" class="js-show-page">
                            {{ info.displayTitle }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
        </div>
        </div>
    </div>

    <div class="content-mid">
        {% for info in record.getProductInfos() %}
        <div id="{{ info.node.alias.alias }}" class="content-switcher">
        <div class="container">
            <div class="sub-menu-title {{ record.class }}">
                <i class="fa fa-info"></i>
                <span class="sub-title">{{ info.displayTitle }}</span>
            </div>
        </div>
        <div class="container">
            <div class="product-info user-content">
                {{ info.content|raw }}
            </div>
        </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}
