{% extends '::base.html.twig' %}

{% block pageTypeClass %}page-contact{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="container">
            <div class="intro-block {{ record.class }}">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Jarys DP</h3>
                        <ul class="contact-list">
                            <li>
                                Guido Gezellestraat 5
                            </li>
                            <li>
                                2630 Aartselaar
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> +32 (0)3 870 63 93
                            </li>
                            <li>
                                <a href="mailto:printing@jarys.be"><i class="fa fa-envelope-o"></i> printing@jarys.be</a>
                            </li>
                        </ul>
                        {% if message|length > 0 %}
                        <div class="alert-container">
                            <div class="alert alert-info">
                                {{ message }}
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-md-6">
                        <div class="contact-form">
                            <h3>Contacteer ons</h3>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var styles = [
                {
                    "stylers": [
                        { "hue": "#00ccff" },
                        { "saturation": 51 },
                        { "lightness": -15 },
                        { "gamma": 0.97 }
                    ]
                },{
                    "featureType": "landscape",
                    "stylers": [
                        { "saturation": -59 }
                    ]
                },{
                    "featureType": "road.arterial",
                    "stylers": [
                        { "hue": "#00bbff" },
                        { "saturation": 48 },
                        { "lightness": -18 }
                    ]
                },{
                    "featureType": "road.highway",
                    "stylers": [
                        { "lightness": -35 }
                    ]
                },{
                }
            ];
            var mapProp = {
                center:new google.maps.LatLng(51.134526,4.386233),
                zoom: 16,
                mapTypeId:google.maps.MapTypeId.ROADMAP,
                styles: styles
            };
            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

            var marker = new google.maps.Marker({
                position: {lat : 51.134526, lng:4.386233},
                map: map,
                title: 'Jarys DP'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div class="content-mid no-padding">
        <div id="googleMap" class="map"></div>
    </div>


{% endblock %}
