<div class="header-banner">
    <div class="container">
        <div class="page-info">
            <h2>Jary's Digital Priting</h2>
            <h3>{{ record.displayTitle }}</h3>
            <p>Vraag vrijblijvend een offerte aan</p>
            <div class="wrp">
                <i class="fa {{ record.icon }} {{ record.class }}"></i>
                <span class="page-title {{ record.class }}">{{ record.displayTitle }}</span>
            </div>
        </div>
    </div>
    <img src="{{ asset('assets/images/banner/header-img1.jpg') }}" class="banner-img" />
</div>
