{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% block html_title %}Jarys - {{ page_title|default(module.name) }}{% endblock %}

{% block header_actions %}
{% endblock %}

{% block page_title -%}
    {{ displayTitle }}
    <a class="btn-add" href="{{ path('contact-form-data_new') }}"><i class="fa fa-plus"></i> Add</a>
{%- endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="node-form">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <header class="header"></header>
                {{ form_start(edit_form, {attr: {role: 'form'}}) }}
                {{ form_widget(edit_form) }}
                {{ form_end(edit_form) }}

                {{ form_start(delete_form, {attr: {role: 'form'}}) }}
                {{ form_widget(delete_form) }}
                {{ form_end(delete_form) }}
            </section>
        </div>
    </div>
{% endblock %}
