{% extends 'ClasticNodeBundle:Backoffice/Node:list.html.twig' %}

{% trans_default_domain 'clastic' %}

{% block page_title -%}
    Contact data
    <a class="btn-add" href="{{ path('contact-form-data_new') }}"><i class="fa fa-plus"></i> Add</a>
{%- endblock %}


{% block list_header %}
    <tr>
        <th></th>
        <th>{{ 'list.title'|trans }}</th>
        <th>{{ 'list.status'|trans }}</th>
    </tr>
{% endblock %}

{% block list_body %}
    <tr>
        <td>
            <a class="btn btn-success btn-xs" title="Edit" href="{{ path('contact-form-data_edit', { 'id': record.id}) }}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-danger btn-xs" title="Delete" href="{{ path('clastic_backoffice_contact_form_data_delete', { 'id': record.id}) }}"><i class="fa fa-trash"></i></a>
        </td>
        <td>{{ record.title }}</td>
        <td></td>
    </tr>
{% endblock %}
