{% extends '::base.html.twig' %}

{% block pageTypeClass %}page-homepage{% endblock %}

{% block content %}

    <div class="content-top">
        <div class="container">
        <div class="intro-block">
            {{ text|raw }}
        </div>
        </div>
    </div>

    <div class="content-mid">
        <div class="container">
            <div class="product-container">
                {% for product in products %}
                <div class="home-page-product-wrapper">
                    <div class="home-page-product {{ product.class }} ">
                        <div class="left-col">
                            <a href="/{{ product.node.alias.alias }}">
                                <i class="fa {{ product.icon }} color"></i>
                                <i class="fa fa-arrow-right"></i>
                            </a>
                            </div>
                        <div class="right-col">
                            <h4>{{ product.displayTitle }}</h4>
                            <span>
                                {{ product.shortDescription|raw }}
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
